#order h3 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ff5f17;
    margin-top: 30px;
    font-size: 30px;
    font-weight: bold;
}
.order {
    max-width: 1200px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.title-success {
    border-bottom: #000 2px solid;
    height: 1px;
    margin: 40px 0px;
}

.title-success img{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
}

.going {
    margin-top: 100px;
    margin-bottom: 10px;
    font-style: italic;
    font-size: 17px;
}

.content-order {
    margin-bottom: 30px;
    font-size: 19px;
    font-family: serif;
}

.content-order table {
    border: 2px solid #ccc;
    text-align: center;
    font-size: 16px;
}

.content-order table .infor {
    border: 2px solid #ccc;
    background-color: #f1f1f1;
}

.content-order table .infor.order-code {
    width: 12%;
}

.content-order table .infor.order-name {
    width: 13%;
}

.content-order table .infor.order-phone {
    width: 13%;
}

.content-order table .infor.order-date {
    width: 13%;
}

.content-order table .infor.order-total {
    width: 12%;
}

.content-order table .infor.order-add {
    width: 19%;
}

.content-order table .infor.order-note {
    width: 18%;
}

.content-order table .order {
    border: 1px solid #ccc;
}

.thanku,
.continue-purchase {
    text-align: center;
}

.thanku p {
    font-size: 18px;
    margin-top: 25px;
    font-weight: bold;
}

.continue-purchase button{
    margin-top: 50px;
    padding: 10px 60px;
    font-size: 18px;
    background-color: #ff5f17;
    font-weight: 700;
    border: 0px;
    color: #fff;
}






