body {
    overflow-x: hidden; /* che đi con mà vượt ra ngoài cha */
}

#header {

}
/* style thẻ a của toàn chương trình */
a {
    color: #000;
    text-decoration: none;
}

#header .menu {
    background: #303030;
    text-align: right;
    height: 30px;
    width: 100%;
    padding: 3px 60px 0px 0px;
}

#header .menu li {
    list-style-type: none;
    position: relative;
    display: inline-block;
    margin-left: 10px;
    transition: text-shadow 0.3s ease-in-out; /* Tạo hiệu ứng mượt mà */
    overflow: hidden;
}

#header .menu li a {
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    display: block;
}

#header .menu li a:hover {
    color: #f15e2c;
    text-shadow: 0 1px 2px rgba(255,255,255,0.3);
}

.menu li a img {
    margin-right: 7px;
}

.row-nav {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    text-align: center; /* Căn giữa nội dung văn bản trong nav */
    position: relative; /* Đặt vị trí là tương đối */
    z-index: 1; /* Đặt mức độ chồng chất cao hơn carousel-item để không bị carousel đè lên*/
}

#nav .logo {
    padding-left: 60px;
}

/* bỏ dấu chấm thẻ li */
#nav .nav-list, .subnav {
    list-style-type: none;
}

.nav-list {
    display: inherit;
}

#nav > .nav-list > li {
    display: inline-block;
    margin-bottom: -30px;
}

#nav li {
    position: relative;
}

.line::after {
    content:"";
    display: block;
    position: absolute;
    border-right: #e3e2e2 2px solid;
    height: 20px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* thẻ a là con trực tiếp của thẻ li và thẻ li là con trực tiếp của thẻ nav */
.nav-list > li > a {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

#nav li a {
    line-height: 46px;
    padding: 0 20px;
    display: block;

}

#nav li:hover .subnav {
    display: block;
    padding: 0px;

}

.nav-list > li:hover > a,
#nav .subnav li:hover {
    color: #ff5f17;
}

#nav .subnav {
    /* display: none để ẩn đi nội dung của nút */
    display: none;
    position: absolute;
    text-align: start;
    top: 100%;
    min-width: 210px;
    background-color: #4C4C4C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .subnav a {
    color: #fff;
    padding: 0 12px;
    line-height: 38px;
}

#nav .subnav a:hover {
    color: #ff5f17;
}

/* di chuột hiển thị các lựa chọn */
#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

/* #nav .row {
    padding: 0 10px 0 200px;
 }  */

.search-nav .form {
    display: flex;
}

.form .form-control {
    margin-left: 30px;
    width: 250px;
    height: 40px;
    padding-left: 34px;
    border-radius: 0px;
    font-size: 12px;
    background-color: white;
    background-image: url('../img/header/nav/icon_tim_kiem.svg');
    background-position: 7px 7px; 
    background-repeat: no-repeat;    
}
.form .btn.btn-dark {
    border-radius: 0px;
    font-size: 13px;
    margin-left: 6px;
}

#carouselExample {
    text-align: center;
    padding: 0px;
}

.carousel-item{
    margin-top: 24px;
    height: 50px;
    width: 100%;
    background: #f1f1f1;
    color: #000000;
}

#carouselExample center{
    margin-top: 15px;
}

#carouselExample button {
    width: 25%;
    margin-top: 20px;
}

#carouselExample .carousel-control-prev {
    justify-content: flex-end;
}

#carouselExample .carousel-control-next {
    justify-content: flex-start;
}

#carouselExample span {
    color: #000;
}

/* Style banner1 */
#home-banner1 {

}

#home-banner1 img {
    height: 50vw;
    width: 100%;
    max-width: 1920px;
    object-fit: cover;
}
/* Style content */
#content {

}

/* style class home-collection */
#content .home-collection {
    margin: 0px 133px;
    padding: 80px 0px 40px;
}

.home-collection .left {
    padding-left: 5px;
    padding-right: 20px;
} 

.home-collection .right {
    padding-left: 20px;
    padding-right: 5px;
}

#content .collection-list img {
    width: 100%;
    height: 100%;
}

#content .collection-list img:hover {
    /* Làm mờ ảnh */
    opacity: 0.7;
}

#content .collection-list h3,p {
    margin-bottom: 10px;
}

.home-collection .content-collection {
    margin-top: 30px;
}

/* style title của toàn chương trình */
#content .title {
    text-align: center;
    /* line-height: 1.5; */
    margin: 30px auto;
    display: block;
    width: fit-content;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #000;
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 40px;
}

/* style .title thẻ a */
#content .title a{
    margin-top: 30px;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

/* style thẻ a có thuộc tính hover cho toàn chương trình */
#content a:hover {
    color: #F15E2C;
}
.collection-list .desc p {
    color: #000;
    font-size: 16px;
}

/* Style class  home-buy*/
#content .home-buy {
    max-width: 1200px;
    padding: 40px 0px 30px;
}


.home-buy .item {
    position: relative;
    overflow: hidden;
    height: 270px;
    padding: 0px 5px;
}

.home-buy .item-background img {
    display: block;
    width: 100%;
    filter: brightness(0.7);
}

.home-buy .item-group {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
}

.home-buy .item-group a {
    text-align: center;
    display: block;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;    
    font-weight: 700;
}

.home-buy .item-group .item-title {
    font-size: 23px;
    margin-bottom: 20px;
}

.home-buy .item-group .subgroup {
    font-size: 16px;
    margin-bottom: 5px;
}

.home-buy .item-background img {
    display: block;
    width: 100%;
}

/* style class home-banner2 */
#content .home-banner2 {
    margin-top: 40px;
}
#content .home-banner2 img {
    height: 50vw;
    width: 100%;    
}

/* style class home-instagram */
#content .home-instagram {
    max-width: 1200px;
    margin-top: 40px;
    padding: 40px 0px 80px 0px;
}

.home-instagram .left {
    padding-left: 5px;
    padding-right: 30px;
    overflow: hidden;
}

.home-instagram .right {
    padding-left: 20px;
    padding-right: 5px;
    overflow: hidden;
}

.home-instagram .right .title{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.home-instagram .right .post-item {
    overflow: hidden;
    margin-bottom: 20px;
    padding-left: 20px;
}

.home-instagram .post-item img {
    width: 300px;
}

.home-instagram .post-item .post-title {
    margin-top: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.home-instagram .post-item .post-desc {
    margin-top: 15px;
    margin-bottom: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000;
    /* display: block; */
    text-overflow: ellipsis;
    /* Căn chữ ngang bằng cột chứa */
    text-align: justify;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 5.6em;
    line-height: 1.4em;
    /* Hiển thị dưới dạng hộp chứa */
    display: -webkit-box;
    /* Giới hạn tối đa 4 dòng được hiển thị */
    -webkit-line-clamp: 4;
    /* nội dung văn bản bên trong phần tử được sắp xếp theo chiều dọc */
    -webkit-box-orient: vertical;
}

.home-instagram .right .post-detail a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #f15e2c;
    font-style: italic;
    display: block;
}

button.btn.btn-load-more {
    padding: 6px 30px;
    font-size: 18px;
    background-color: #000;
    color: #fff;
    font-weight: 700;
    border-radius: 0px;
}

/* Footer */
#footer {
    padding-top: 60px;
    background-color:#4C4C4C;
}

#footer .row {
    padding: 0px 0px 20px 0px;
}

#footer .center {
    display: flex; /* Sử dụng Flexbox để căn giữa */
    justify-content: center; /* Căn giữa theo chiều ngang (hoàn toàn giữa) */
    align-items: center;    /* Căn giữa theo chiều dọc (hoàn toàn giữa) */
}

#footer .center img {
    width: auto;
}

#footer h4{
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 9px;
    line-height: 1.6em;
    font-weight: 700;
}

button.btn.btn-search-shop,
button.btn.btn-return-home {
    padding: 6px 60px;
    font-size: 18px;
    background-color: #ff5f17;
    color: #fff;
    font-weight: 700;
    border-radius: 0px;
}

.footer-item_link{
    padding: 0px 0px 5px;
    color: #cccccc;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-decoration: none;
}

.footer-item_link:hover{
    color: #ff5f17;
}

.social-footer a {
    padding-left: 3px;
}

.footer_list{
    list-style: none;
    padding-left:0;
}

#footer .social-footer img {
    display: inline-block;
}

#footer .search {
    display: flex;
}

#inputReceiveMail{
    display: inline-block;
    width: 170px;
    height: 39px;
    border-radius:0px
}

.logo-footer{
    vertical-align: middle;
    padding: 10px 10px;
}

#bocongthuong{
    padding: 35px 0px;
}

.col-md-9.copy {
    margin-top: 65px;
    padding: 0px 10px;
}

#footer .col-md-9.copy p {
    color: #808080;
}


/*  */
.cartfixed {
    position: fixed;
    right: 0px;
    top: 232px;
    width: 40px;
    height: 75px;
    background-color: #ff5f17;
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding: 10px 10px;
}
.cartfixed a {
    font-size: 16px;
    cursor: pointer;
    z-index: 9999;
    color: #fff;
    font-family: monospace;
    font-weight: 700;

}

.social {
    position: fixed;
    right: 0px;
    top: 330px;
    width: 40px;
    background-color: #666;
    padding: 8px;
    text-align: center;
    /* z-index: 9999; */
}

.social a {
    text-align: center;
}

.social a img {
    margin: 5px 0px;
}

/* Hiệu ứng sóng nước */
@keyframes wave {
    0% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-5px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(5px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Áp dụng hiệu ứng cho .animate-wave */
.animate-wave {
    animation: wave 2s infinite; /* Tạo hiệu ứng sóng nước trong vòng 2 giây, lặp vô hạn */
}
/* FORM LOGIN */

.login, 
.register {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('../img/register/bg_comingsoon.jpg') center / auto no-repeat;
}

.login a, 
.register a {
    color: #F15E2C;
}

.login a:hover,
.register a:hover {
    color: #f15e2c;
    opacity: 0.8;
    text-decoration: underline;
    font-weight: 600;
}

#login .wrapper,
#register .wrapper {
    width: 420px;
    color: #fff;
    background: url('');
    border-radius: 10px;
    padding: 20px 40px;
}

#login .wrapper h2,
#register .wrapper h2 {
    font-size: 36px;
    text-align: center;
    color: #fff;
    font-weight: bold;
    letter-spacing: 5px; /* Thay đổi khoảng cách giữa các chữ */
}

#login .wrapper .form-group,
#register .wrapper .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

#login .form-group input,
#register .form-group input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,0.3);
    border-radius: 10px;
    font-size: 16px;
    color: #F15E2C;
}

#login .form-group input::placeholder,
#register .form-group input::placeholder {
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

#login .form-group svg,
#register .form-group svg {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);   
}

#login .wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin: -15px 0px 15px;
}

#login .remember-forgot label input {
    accent-color: #f15e2c;
}

#login .wrapper .btn,
#register .wrapper .btn {
    width: 50%;
    transform: translateX(50%);
    height: 45px;
    background: #f15e2c;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    
}

#login .register-link,
#register .register-link {
    text-align: end;
    font-size: 15px;
    margin: 20px 0px 15px;
}

