.admin {
    background-color: antiquewhite;
}
.button {
    text-align: center;
    justify-content: space-evenly;
    display: inline;
}

button {
    border: none;
    padding: 10px;
    background-color: #f15e2c;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px #000 solid;
}

button a {
    text-decoration: none;
    /* color: #f15e2c; */
    color: #fff;

    font-size: 20px;
}

h1,h2{
    margin-top: 30px;
    text-align: center;
}

.row {
    margin-top: 50px;
}
img {
    width: 70px;
}